<div th:fragment="leftSidebar" class="sidebar">
    <div class="left">
        <img th:src="${currentUser.avatar != null} ? ${currentUser.avatar} : '/img/avatars/NULL.jpg'">
        <span class="user-name" th:text="${currentUser.ho + ' ' + currentUser.ten}" style="font-weight: bold;"></span>
    </div>
    <div class="right">
        <h1>UTH-TEAM</h1>
        <nav class="buttons">
            <button>
                <i class="fas fa-home"></i>
                <span><a th:href="@{/}">Bảng tin</a></span>
            </button>
            <button>
                <i class="fas fa-book"></i>
                <span><a th:href="@{/project}">Dự án</a></span>
            </button>
            <button>
                <i class="fas fa-users"></i>
                <span><a th:href="@{/}">Thông báo</a></span>
            </button>
        </nav>
        <nav class="buttons">
            <button>
                <i class="fas fa-cog"></i>
                <span>Cài đặt</span>
            </button>
            <button>
                <i class="fas fa-sign-out-alt"></i>
                <span><a th:href="@{/logout}">Đăng xuất</a></span>
            </button>
        </nav>
    </div>
</div>