<div th:fragment="rsidebar" class="right-sidebar">
    <div class="friends-header">
        <h3>Bạn bè</h3>
        <button class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <input type="text" class="search-friends" placeholder="Tìm kiếm bạn bè...">
    <div class="friends-list">
        <div class="friend-item">
            <img src="img/user-1.jpg" alt="Friend 1" class="friend-avatar">
            <div class="friend-info">
                <div class="friend-name">Nguyễn Tài Thức</div>
                <div class="friend-status">
                    <span class="status-dot online"></span>
                    Đang hoạt động
                </div>
            </div>
        </div>
        <div class="friend-item">
            <img src="img/user-2.jpg" alt="Friend 2" class="friend-avatar">
            <div class="friend-info">
                <div class="friend-name">Nguyễn Anh Toại</div>
                <div class="friend-status">
                    <span class="status-dot online"></span>
                    Đang hoạt động
                </div>
            </div>
        </div>
        <div class="friend-item">
            <img src="img/user-3.jpg" alt="Friend 3" class="friend-avatar">
            <div class="friend-info">
                <div class="friend-name">Lê Duy Bằng</div>
                <div class="friend-status">
                    <span class="status-dot offline"></span>
                    Hoạt động 2 giờ trước
                </div>
            </div>
        </div>
        <div class="friend-item">
            <img src="img/user-4.jpg" alt="Friend 4" class="friend-avatar">
            <div class="friend-info">
                <div class="friend-name">Nguyễn Hoàng Phi</div>
                <div class="friend-status">
                    <span class="status-dot offline"></span>
                    Hoạt động 5 giờ trước
                </div>
            </div>
        </div>
        <div class="friend-item">
            <img src="img/user-5.jpg" alt="Friend 5" class="friend-avatar">
            <div class="friend-info">
                <div class="friend-name">Trương Lê Bảo Thọ</div>
                <div class="friend-status">
                    <span class="status-dot online"></span>
                    Đang hoạt động
                </div>
            </div>
        </div>
    </div>
</div>